.place__title {
    font-size: 72px;
    line-height: 76px;
    text-align: initial;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:992px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}