.page {
  background: #2A2C2F;
  font-family: "Inter", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0px 48px;
  max-width: 1184px;
  min-width: 320px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .page {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 0px 16px;
  }
}