.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 0;
    padding: 0 48px 0;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        padding: 0px;
    }
}