.cover__subtitle {
    margin: 0 auto;
    padding: 32px 0 0;
    max-width: 360px;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    position: relative;
    line-height: 22px;
    z-index: 1;
    color: #FFFFFF;
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        padding: 32px 20px 0px;
        font-size: 14px;
        line-height: 16px;
    }
}