 .lead__title {
    line-height: 100px;
    text-align: center;
    margin: 56px 0 0;
    font-size: 96px;
    padding: 0;
    color: #ffffff;
    max-width: 720px;
    font-weight: 900;
 }

 @media screen and (max-width:768px) {
    .lead__title {
       font-size: 55px;
       line-height: 60px;
       max-width: 650px;
    }
 }

 @media screen and (max-width:425px) {
    .lead__title {
       font-size: 40px;
       line-height: 44px;
    }
 }