.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
    }
}