.lead__subtitle {
    color: #ffffff;
    max-width: 640px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin: 32px 0 0;
    line-height: 36px;
}

@media screen and (max-width:768px) {
    .lead__subtitle {
        font-size: 22px;
        line-height: 28px;
        max-width: 470px;
    }
}

@media screen and (max-width:425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 300px;
    }
}