.cover__overlay {
  position: relative;
  background-image: url(/images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  transition: 0.5s linear;
  opacity: .3;
}

.cover__overlay:hover::before {
  opacity: .6;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 565px) {
  .cover__overlay {
    min-height: 320px;
  }
}
