.cover__title {
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    display: flex;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}