.cover__title {
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    display: flex;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

@media screen and (max-width: 565px) {
    .cover__title {
        padding: 0px 20px;
        font-size: 32px;
        line-height: 35px;
    }
}