.footer {
    display: flex;
    padding: 92px 0 24px;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .footer{
        justify-content: space-around;
    }
}

@media screen and (max-width: 425px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
}